.imagen {
    width: 75%;

     
}

.detallesProdu li {
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    list-style: none;
}

.cardDetail {
    max-width: 40%;
    margin-top: 50px;
}

.finalizar {
    
}