.imagen {
    width: 300px;
    height: 200px;
    
}

.container {
    
}

.detallesProdu li {
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    list-style: none;
}

.cardDetail {
    max-width: 40%;
}