.cartContainer{
  


}

.cart {

    
    

}

.numCartContainer {
    background-color: rgb(228, 177, 177);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 1rem;
    left: 96%;

}

.numCart {
    font-size: 1rem;
    font-weight: bold;
    
    
}